<h5 style="text-align: center;">PayPal | Trusted & Secure</h5>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007953;">
    <div class="container">
        <h2 style="color: #ffffff;">ProDentim</h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active m-3">
                    <a class="nav-link" href="#0">About ProDentim</a>
                </li>
                <li class="nav-item active m-3">
                    <a class="nav-link" href="#1">Ingredients</a>
                </li>
                <li class="nav-item active m-3">
                    <a class="nav-link" href="#4">FAQ</a>
                </li>
                <a href="#6">
                    <button type="button" class="btn btn-danger m-3">Order Now</button>
                </a>
            </ul>
        </div>
    </div>
</nav>

<section id="0">
    <img src="im1.png" style="width: 100%;" />
</section>
<section id="1">
    <img src="im2.png" style="width: 100%;" />
</section>
<section id="2">

    <div style="padding-left:60px; padding-right:60px">
        <div class="row">
            <div class="col">
                <div class="card m-3 p-3" style="border-radius: 10px; border-width:3px; border-color:#D3D3D3">
                    <h1 class="text-center" style="color: #007953;">1 X BOTTLE</h1>
                    <h4 class="text-center">· 30 Day Supply ·</h4>
                    <img src="p11.png" style="height: 250px; margin:40px; margin-left:auto; margin-right:auto;" />
                    <img src="p12.png" style="width: 250px; margin-left:auto; margin-right:auto; margin-bottom:60px" />
                    <a href="checkout/69">
                        <img src="p13.png" style="width: 300px; margin-left:auto; margin-right:auto;" />
                    </a>
                    <h4 class="text-center" style="margin: 20px;">TOTAL: <del>$99</del> $69</h4>
                    <img src="p14.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <p class="text-center" style="margin-bottom: 20px;">*FREE Shipping</p>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-lg mb-5 bg-white m-3 p-3"
                    style="border-radius: 10px; border-width:3px; border-color:#007953">
                    <h1 class="text-center" style="color: #007953;">6 X BOTTLE</h1>
                    <h4 class="text-center">· 180 Day Supply ·</h4>
                    <img src="p21.png" style="height: 250px; margin:40px; margin-left:auto; margin-right:auto;" />
                    <img src="p22.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <img src="p23.png"
                        style="width: 200px; margin-top:15px; margin-bottom:15px; margin-left:auto; margin-right:auto;" />
                    <a href="checkout/294" style="padding-left: 25px;">
                        <img src="p24.png" style="width: 300px; margin-left:auto; margin-right:auto;" />
                    </a>
                    <h4 class="text-center" style="margin: 20px;">TOTAL: <del>$594</del> $294</h4>
                    <img src="p14.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <p class="text-center" style="margin-bottom: 20px;">*FREE Shipping</p>
                </div>
            </div>

            <div class="col">
                <div class="card m-3 p-3" style="border-radius: 10px; border-width:3px; border-color:#D3D3D3">
                    <h1 class="text-center" style="color: #007953;">3 X BOTTLE</h1>
                    <h4 class="text-center">· 90 Day Supply ·</h4>
                    <img src="p31.png" style="height: 250px; margin:40px; margin-left:auto; margin-right:auto;" />
                    <img src="p32.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <img src="p23.png"
                        style="width: 200px; margin-top:15px; margin-bottom:15px; margin-left:auto; margin-right:auto;" />
                    <a href="checkout/177">
                        <img src="p13.png" style="width: 300px; margin-left:auto; margin-right:auto;" />
                    </a>
                    <h4 class="text-center" style="margin: 20px;">TOTAL: <del>$297</del> $177</h4>
                    <img src="p14.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <p class="text-center" style="margin-bottom: 20px;">*FREE Shipping</p>
                </div>
            </div>

        </div>
    </div>
    <img src="ocs.png" style="width: 100%;" />
</section>
<section id="3">
    <img src="im3.png" style="width: 100%;" />
</section>
<section id="4">
    <div class="container">
        <div class="accordion" id="accordionExample">

            <div class="card m-3">
                <div class="card-header" id="headingOne">
                    <h3 data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                        How and why does ProDentim work?
                    </h3>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p class="card-body" style="font-size:20px; font-style:unset">
                        Well, the way this works is pretty simple actually…
                        <br />
                        We’ve always been told that “bad” bacteria are to blame for all dental diseases but, upon a
                        closer look, scientists have realized that imbalance in the oral health is caused by the lack of
                        good bacteria.
                        <br />
                        The population of good bacteria can be harmed by common dental products that might contain toxic
                        ingredients. This explains why teeth can thrive for thousands of years outside of the mouth,
                        while in our mouth they get ruined by plain chocolate.
                        <br />
                        In order to support the health of your teeth and gums, you need to repopulate your mouth with
                        good bacteria and provide a healthy environment for the strains to grow in.
                        <br />
                        ProDentim is a doctor-formulated mix that gathers 5 scientifically proven, potent strains,
                        combining a total of 3.5 Billion good bacteria into one revolutionary dissolvable candy.
                        <br />
                        This probiotic candy also targets your respiratory system, supporting your body to stay free
                        from allergies, while also promoting restful sleep and good digestion.
                    </p>
                </div>
            </div>

            <div class="card m-3">
                <div class="card-header" id="headingTwo">
                    <h3 data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                        Are there any side effects?
                    </h3>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <p class="card-body" style="font-size:20px; font-style:unset">
                        ProDentim has been designed for all ages and medical conditions. All of the ingredients inside
                        of ProDentim have been generally considered to be safe, and are constantly tested for purity and
                        to ensure against toxins and contaminants. Moreover, ProDentim is manufactured in an
                        FDA-approved facility, under sterile, strict and precise standards.
                        <br /><br />
                        As always, if you currently have a medical condition or you’re taking other prescription
                        medication, we advise you to show a bottle of ProDentim to your doctor before you take it, just
                        to put your mind at ease.
                    </p>
                </div>
            </div>


            <div class="card m-3">
                <div class="card-header" id="headingThree">
                    <h3 data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                        When and how should I take ProDentim?
                    </h3>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <p class="card-body" style="font-size:20px; font-style:unset">
                        We recommend you slowly chew a tablet every morning to support the health of your entire body,
                        gums and teeth.
                    </p>
                </div>
            </div>

            <div class="card m-3">
                <div class="card-header" id="headingFour">
                    <h3 data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                        Can you tell me about the guarantee again?
                    </h3>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <p class="card-body" style="font-size:20px; font-style:unset">
                        The more results we see, the stronger we believe ProDentim has the power to transform lives.
                        It’s true, though, that nothing works for 100% of the people who try it as each body works in
                        its own way.
                        <br /><br />
                        That’s why every bottle of ProDentim comes with an ironclad 60-day money back guarantee. If, for
                        any reason, you aren’t fully satisfied with the results, you can just return what you haven't
                        used for a full, no question asked refund.
                    </p>
                </div>
            </div>

            <div class="card m-3">
                <div class="card-header" id="headingFive">
                    <h3 data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive">
                        How can I get started?
                    </h3>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <p class="card-body" style="font-size:20px; font-style:unset">
                        It’s very easy! Just click the button below now to go to our secure order checkout page, enter
                        in your information, and we’ll immediately get to work shipping ProDentim right to your
                        doorstep.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="5">
    <img src="im4.png" style="width: 100%;" />
</section>
<section id="6">

    <div style="padding-left:60px; padding-right:60px">
        <div class="row">
            <div class="col">
                <div class="card m-3 p-3" style="border-radius: 10px; border-width:3px; border-color:#D3D3D3">
                    <h1 class="text-center" style="color: #007953;">1 X BOTTLE</h1>
                    <h4 class="text-center">· 30 Day Supply ·</h4>
                    <img src="p11.png" style="height: 250px; margin:40px; margin-left:auto; margin-right:auto;" />
                    <img src="p12.png" style="width: 250px; margin-left:auto; margin-right:auto; margin-bottom:60px" />
                    <a href="checkout/69">
                        <img src="p13.png" style="width: 300px; margin-left:auto; margin-right:auto;" />
                    </a>
                    <h4 class="text-center" style="margin: 20px;">TOTAL: <del>$99</del> $69</h4>
                    <img src="p14.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <p class="text-center" style="margin-bottom: 20px;">*FREE Shipping</p>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-lg mb-5 bg-white m-3 p-3"
                    style="border-radius: 10px; border-width:3px; border-color:#007953">
                    <h1 class="text-center" style="color: #007953;">6 X BOTTLE</h1>
                    <h4 class="text-center">· 180 Day Supply ·</h4>
                    <img src="p21.png" style="height: 250px; margin:40px; margin-left:auto; margin-right:auto;" />
                    <img src="p22.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <img src="p23.png"
                        style="width: 200px; margin-top:15px; margin-bottom:15px; margin-left:auto; margin-right:auto;" />
                    <a href="checkout/294" style="padding-left: 25px;">
                        <img src="p24.png" style="width: 300px; margin-left:auto; margin-right:auto;" />
                    </a>
                    <h4 class="text-center" style="margin: 20px;">TOTAL: <del>$594</del> $294</h4>
                    <img src="p14.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <p class="text-center" style="margin-bottom: 20px;">*FREE Shipping</p>
                </div>
            </div>

            <div class="col">
                <div class="card m-3 p-3" style="border-radius: 10px; border-width:3px; border-color:#D3D3D3">
                    <h1 class="text-center" style="color: #007953;">3 X BOTTLE</h1>
                    <h4 class="text-center">· 90 Day Supply ·</h4>
                    <img src="p31.png" style="height: 250px; margin:40px; margin-left:auto; margin-right:auto;" />
                    <img src="p32.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <img src="p23.png"
                        style="width: 200px; margin-top:15px; margin-bottom:15px; margin-left:auto; margin-right:auto;" />
                    <a href="checkout/177">
                        <img src="p13.png" style="width: 300px; margin-left:auto; margin-right:auto;" />
                    </a>
                    <h4 class="text-center" style="margin: 20px;">TOTAL: <del>$297</del> $177</h4>
                    <img src="p14.png" style="width: 250px; margin-left:auto; margin-right:auto;" />
                    <p class="text-center" style="margin-bottom: 20px;">*FREE Shipping</p>
                </div>
            </div>

        </div>
    </div>
    <img src="ocs.png" style="width: 100%;" />
</section>
<section id="7">
    <img src="im5.png" style="width: 100%;" />
</section>

<div style="height: 30px; background:#007953; "></div>
<div style="height: 60px; background:#007953; ">
    <div class="container">
        <div class="row">
            <div class="col">
                <h6 style="color:#ffffff;"> Contact </h6>
            </div>
            <div class="col">
                <h6 style="color:#ffffff;"> References </h6>
            </div>
            <div class="col">
                <h6 style="color:#ffffff;"> Terms Of Use </h6>
            </div>
            <div class="col">
                <h6 style="color:#ffffff;"> Disclaimer </h6>
            </div>
            <div class="col">
                <h6 style="color:#ffffff;"> Privacy Policy </h6>
            </div>
            <div class="col">
                <h6 style="color:#ffffff;"> Shipping Policy </h6>
            </div>
            <div class="col">
                <h6 style="color:#ffffff;"> Refund Policy </h6>
            </div>
        </div>
    </div>
</div>