    <h5 style="text-align: center;">PayPal | Trusted & Secure</h5>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007953;">
        <div class="container">
            <h2 style="color: #ffffff;">ProDentim</h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active m-3">
                        <a class="nav-link" href="#0">About ProDentim</a>
                    </li>
                    <li class="nav-item active m-3">
                        <a class="nav-link" href="#1">Ingredients</a>
                    </li>
                    <li class="nav-item active m-3">
                        <a class="nav-link" href="#32">FAQ</a>
                    </li>
                    <button type="button" class="btn btn-danger m-3">Order Now</button>
                </ul>
            </div>
        </div>
    </nav>

    <section id="0">
        <img src="im1.png" style="width: 100%;" />
    </section>
    <section id="1">
        <img src="im2.png" style="width: 100%;" />
    </section>
    <div style="height: 300px;"></div>