<container>
  <div style="height: 100px;"></div>
  <div class="alert alert-danger" role="alert" style="width: 50%; margin-left:auto; margin-right:auto;">
    Your Bank is facing technical issue for which, this payment failed.
    In case any amount has been deducted from your account, don't worry. It is safe with your bank and will be credited back to your account within 3 working days.
  </div>
  <div style="height: 40px;"></div>

  <div style="width:fit-content; margin-left: auto; margin-right:auto;">
    <a type="button" class="btn btn-success" href="/">Click Here to Try Again</a>
  </div>
  
</container>